@model List<YMS.EfCoreTutorial.Entities.Employee>
@{
    Layout = "_Layout";
}

<div class="text-end mt-2">
    <a href="/Home/Create" class="btn btn-primary">Create New Employee</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*Her bir kaydım için bir tr oluşturmam lazım*@

        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                @*<getAddressData id="@employee.Id"></getAddressData>*@
                <td>
                    <a asp-action="Remove" asp-controller="Home" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="Update" asp-controller="Home" asp-route-id="@employee.Id" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
