@model YMS.EfCoreTutorial.Models.UpdateEmployeeModel
@{
    Layout = "_Layout";
}


<form method="post" asp-action="Update" asp-controller="Home">

    <input type="hidden" asp-for="@Model.Id" />

    <div class="mb-3">
        <label  class="form-label">Name :</label>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="@Model.Name">
        
    </div>
    <div class="mb-3">
        <label class="form-label">Surname :</label>
        <span asp-validation-for="@Model.Surname" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="@Model.Surname">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
